<div class="card mt-2" >

  <div class="card-body shadow rounded-1" style="padding: 0px;"   >
    <a  routerLink="articulo/{{data?._id}}" style="text-decoration: none;" >
    <img *ngIf="image" src="{{data?.imagen}}"  width="100%" height="200px" alt="" class="rounded-1 shadow p0" style="object-fit: cover;">
    <div    class="h-150  text-white  rounded-1 shadow" style="border-radius:10px; padding-top: 20px; height:200px; background-color: rgb(32, 32, 32);">
      <p  class="" style="margin-left: 25px; padding-right: 25px; color:orange; text-decoration: none;">{{data?.categoria}}</p>
      <h6 class ="truncar titulo">{{data?.titulo}}</h6>
      <!-- <p class="truncar" style="margin-left: 25px; padding-right: 25px;">{{data?.subtitulo}} </p> -->
      
    <p  style="margin-left: 20px; color:white">

<span style="color:rgb(214, 214, 214);font-size: 12px;margin-left: 1px; ">
      {{data?.updatedAt | dateConverter}} </span>
      <svg xmlns="http://www.w3.org/2000/svg"  style="margin-top:-4px; margin-left:5px" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
      </svg><span style="font-size: 12px;margin-left: 4px;color:rgb(114, 114, 114)">22</span>

    </p>
      </div>
       
      </a>



<!-- 


    <a class="btn btn-dark btn-sm">Accion</a>
    <a (click)="borrar(id)" class="btn btn-dark btn-sm" style="margin-left:10px;">Borrar</a> -->

  </div>
</div>
