  <!-- Loading -->
  <div *ngIf="loading" class="text-center" >
    <div  class="spinner-border " role="status" style="margin-top: 30vh;">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
    <!-- Loading -->

    <div class="row">
      <div class="col-9">

    <div  *ngIf="!loading"   class="h-150 p-5 text-white bg-dark rounded-1 shadow" style="height:300px;">

      <h6 class="h6-categoria">{{this.data[0].categoria}}</h6>

      <h1 class="h1-titulo">   {{this.data[0].titulo}} </h1>
      <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px; font-weight: 100;">
        {{this.data[0].subtitulo}}

      </p>
      <button class="btn btn-outline-light" type="button">Iniciar sesión</button>
      </div>
    </div>
    <div class="col-3">

      <div  *ngIf="!loading"   class="h-150  text-white bg-dark rounded-1 shadow" style="padding-top: 20px; height:300px;">

        </div>
    </div>
    </div>





    <br>
<div *ngIf="!loading"   [@listAnimation] >
  <div class="row">
    <div style="text-align: left;">
<p style="margin: 0px ; padding:0px ;margin-left:15px">ÚLTIMOS POST</p>
<hr style="margin: 0px ; padding:0px ; margin-top: 5px; margin-bottom: 5px;">
</div>

  <div class="col-3" *ngFor="let articulo of data let i = index">
    <app-card [data]="articulo" [id]="articulo?._id"  [image]=true [@listAnimation]="data.lenght"></app-card>
    <br>
      </div>
       </div>
       <br>
      <app-footer></app-footer>
</div>

